# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Django
*.log
db.sqlite3
media/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Static files (generated during deployment)
staticfiles/

# Python cache
.pytest_cache/